.legend {
    text-align: center;
    grid-area: legend;
    clear: both;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.legend .legend-scale ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.legend .legend-scale ul li {
    display: inline-block;
    width: auto;
    margin-bottom: 6px;
    text-align: left;
    list-style: none;
}
.legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.legend a {
    color: #777;
}

#roster {
    grid-area: roster;

    display: grid;
    grid-gap: 15px;
}

.member {
    border-radius: 18px;
    font-size: 150%;

    position: relative;
    text-align: center;
}
.member > a > img {
    opacity: 1;
    border-radius: 15px;

    width: 100%;
    height: 100%;
    object-fit: cover;

    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.member > a > .title {
    opacity: 0;
    
    font-family: Roboto;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.member:hover > a > img {
    opacity: 0.1;
}
.member:hover > a > .title {
    opacity: 1;
}
.emoji {
    clear: both;
    display: inline-block;
    width: 100%;
}

.sl {
    border: 3px solid #c28e0e;
}
.oldfuck {
    border: 3px solid #ba55d3;
}
.senior {
    border: 3px solid #ed3742;
}
.junior {
    border: 3px solid #62bb47;
}
.sophomore {
    border: 3px solid #3bcaef;
}
.freshman {
    border: 3px solid #f9beff;
}

/* mobile */
@media (max-width: 700px) {
    #roster {
        grid-template-columns: minmax(100px, 1fr);
        grid-auto-rows: 250px;
        margin-left: 4%;
        margin-right: 4%;
    }
}

/* desktop */
@media (min-width: 700px) {
    #roster {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-auto-rows: 250px;
        margin-left: 7%;
        margin-right: 7%;
    }
}
