@font-face {
    font-family: NotoSerifKR;
    src: url("./res/font/NotoSerifKR-Regular.otf");
}

a {
    text-decoration: none;
    color: #c28e0e;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    grid-template-areas:
        "header"
        "legend"
        "roster";

    background-color: #333;
    color: #c28e0e;

    text-align: center;
}

#header {
    grid-area: header;
}

#letters {
    font-family: NotoSerifKR;
    letter-spacing: 0.05em;
}

.legend {
    text-align: center;
    grid-area: legend;
    clear: both;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.legend .legend-scale ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.legend .legend-scale ul li {
    display: inline-block;
    width: auto;
    margin-bottom: 6px;
    text-align: left;
    list-style: none;
}
.legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.legend a {
    color: #777;
}

#roster {
    grid-area: roster;

    display: grid;
    grid-gap: 15px;
    margin-bottom: 5%;
}

.member {
    border-radius: 18px;
    font-size: 150%;

    position: relative;
    text-align: center;
}
.member > a > img {
    opacity: 1;
    border-radius: 15px;

    width: 100%;
    height: 100%;
    object-fit: cover;

    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.member > a > .title {
    opacity: 0;
    
    font-family: Roboto;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.member:hover > a > img {
    opacity: 0.1;
}
.member:hover > a > .title {
    opacity: 1;
}
.emoji {
    clear: both;
    display: inline-block;
    width: 100%;
}

.sl {
    border: 3px solid #c28e0e;
}
.oldfuck {
    border: 3px solid #ba55d3;
}
.senior {
    border: 3px solid #ed3742;
}
.junior {
    border: 3px solid #62bb47;
}
.sophomore {
    border: 3px solid #3bcaef;
}
.freshman {
    border: 3px solid #f9beff;
}

/* mobile */
@media (max-width: 700px) {
    #logo {
        width: 200px;
        height: 200px;
        clip-path: circle(75px at center);
        margin-top: -20px;
        margin-bottom: -110px;
    }

    #letters {
        font-size: 90px;
    }

    #social {
        font-size: 40px;
        margin-top: -70px;
        margin-bottom: 20px;
    }

    #roster {
        grid-template-columns: minmax(100px, 1fr);
        grid-auto-rows: 250px;
        margin-left: 4%;
        margin-right: 4%;
    }
}

/* desktop */
@media (min-width: 700px) {
    #logo {
        width: 300px;
        height: 300px;
        clip-path: circle(120px at center);
        margin-top: -20px;
        margin-bottom: -170px;
    }

    #letters {
        font-size: 150px;
    }

    #social {
        font-size: 50px;
        margin-top: -120px;
        margin-bottom: 20px;
    }

    #roster {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-auto-rows: 250px;
        margin-left: 7%;
        margin-right: 7%;
    }
}
