#instagramShoutouts {
    grid-area: instagram;
}

#instagramShoutouts div h3 {
    font-size: 35px;
    text-decoration: underline;
}

#instagramShoutouts div a {
    font-weight: bold;
}

.todo {
    display: grid;
}

.done {
    text-decoration: line-through;
}

/* mobile */
@media (max-width: 700px) {
    .todo {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        margin-left: 2%;
        margin-right: 2%;

        font-size: 20px;
        margin-top: 6%;
    }
}

/* desktop */
@media (min-width: 700px) {
    .todo {
        grid-template-columns: repeat(6, minmax(100px, 1fr));
        margin-left: 7%;
        margin-right: 7%;

        font-size: 25px;
        margin-top: 2%;
    }
}
