a {
    text-decoration: none;
    color: #c28e0e;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.button {
    background-color: #c28e0e;
    box-shadow: 0 5px 0 #876309;
    color: #000;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.button:visited {
    text-decoration: none;
}

.button:hover {
    text-decoration: none;

    background-color: #a0760b;
    cursor: pointer;
}

.button:focus {
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
}

.button:active {
    text-decoration: none;

    box-shadow: none;
    top: 5px;
}

body {
    grid-template-areas:
        "header"
        "instagram";

    background-color: #333;
    color: #c28e0e;

    text-align: center;
}

#header {
    grid-area: header;
}

#instagramShoutouts {
    grid-area: instagram;
}

#instagramShoutouts div h3 {
    font-size: 35px;
    text-decoration: underline;
}

#instagramShoutouts div a {
    font-weight: bold;
}

.todo {
    display: grid;
}

.done {
    text-decoration: line-through;
}

/* mobile */
@media (max-width: 750px) {
    #logo {
        width: 200px;
        height: 200px;
        clip-path: circle(75px at center);
        margin-bottom: -80px;
    }

    #letters {
        font-size: 90px;
    }

    #social {
        font-size: 40px;
        margin-top: -70px;
        margin-bottom: 20px;
    }

    #instagramShoutouts {
        margin-bottom: 80px;
    }

    .todo {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        margin-left: 2%;
        margin-right: 2%;

        font-size: 20px;
        margin-top: 6%;
    }
}

/* desktop */
@media (min-width: 750px) {
    #logo {
        width: 300px;
        height: 300px;
        clip-path: circle(120px at center);
        margin-bottom: -120px;
    }

    #letters {
        font-size: 150px;
    }

    #social {
        font-size: 50px;
        margin-top: -100px;
        margin-bottom: 40px;
    }

    #instagramShoutouts {
        margin-bottom: 100px;
    }

    .todo {
        grid-template-columns: repeat(6, minmax(100px, 1fr));
        margin-left: 7%;
        margin-right: 7%;

        font-size: 25px;
        margin-top: 2%;
    }
}
