a {
    text-decoration: none;
    color: #111;
}

a:visited {
    text-decoration: none;
    color: #111;
}

a:hover {
    text-decoration: none;
    color: #111;
}

a:focus {
    text-decoration: none;
    color: #111;
}

a:hover {
    text-decoration: none;
    color: #111;
}

a:active {
    text-decoration: none;
    color: #111;
}

.button {
    background-color: #c28e0e;
    box-shadow: 0 5px 0 #876309;
    color: #333;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.button:visited {
    text-decoration: none;
}

.button:hover {
    text-decoration: none;

    background-color: #a0760b;
    cursor: pointer;
}

.button:focus {
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
}

.button:active {
    text-decoration: none;

    box-shadow: none;
    top: 5px;
}

body {
    background-color: #333;
    color: #c28e0e;

    text-align: center;
}

#header {
    grid-area: header;
}

#letters > a {
    color: #c28e0e;
}

#instagramShoutouts {
    grid-area: instagram;
}

#instagramShoutouts div h3 {
    font-size: 35px;
    text-decoration: underline;
}

#instagramShoutouts div a {
    font-weight: bold;
}

.todo {
    display: grid;
}

.done {
    text-decoration: line-through;
}

/* mobile */
@media (max-width: 750px) {
    #header {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "instagram";

        font-size: 40px;
    }

    #logo {
        width: 200px;
        height: 200px;
        clip-path: circle(75px at center);
        margin-bottom: -75px;
    }

    #instagramShoutouts {
        margin-bottom: 80px;
    }

    .todo {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        margin-left: 2%;
        margin-right: 2%;

        font-size: 20px;
        margin-top: 6%;
    }
}

/* desktop */
@media (min-width: 750px) {
    #header {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "... header ..."
            "instagram instagram instagram";

        font-size: 60px;
    }

    #logo {
        width: 300px;
        height: 300px;
        clip-path: circle(120px at center);
        margin-bottom: -115px;
    }

    #instagramShoutouts {
        margin-bottom: 100px;
    }

    .todo {
        grid-template-columns: repeat(8, minmax(100px, 1fr));
        margin-left: 7%;
        margin-right: 7%;

        font-size: 25px;
        margin-top: 2%;
    }
}
