/* mobile */
@media (max-width: 700px) {
  #aamb {
    margin: 20% 0;
  }

  #aamb > p {
    margin: 50px 0;
  }
}

/* desktop */
@media (min-width: 700px) {
  #aamb {
    margin: 25px 0;
  }

  #aamb > p {
    margin: 50px 0;
  }
}
